.marginTopMedium {
  margin-top: 25px;
}
.paddingTopMedium {
  padding-top: 25px;
}
input[type="file"] {
  font-size: 12px;
}
.hidden {
  display: none;
}
.hide-overflow {
  overflow: hidden;
}
img {
  max-width: 100%;
}
header {
  height: 10vh;
  background-color: #83C5B9;
  min-height: 90px;
}
.transition-layer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  transition: all 2.5s ease;

  background: #326273;
  background: -webkit-gradient(linear, left top, left bottom, from(#326273), to(#193a55));
  background: linear-gradient(to bottom, #326273 0%, #193a55 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#326273', endColorstr='#193a55',GradientType=0 );
  opacity: 0;
}
.transition-layer.active {
  opacity: 1;
}
.home .navbar {
  -webkit-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.4);
  box-shadow: 0px 2px 1px 0px rgba(0,0,0,0.4);
  background-color: #83C5B9;
  z-index: 1;
}
.home .navbar .nav-link {
  font-size: 24px;
  color: rgba(255,255,255, 0.6);
  text-shadow: 0px -2px rgba(0,0,0,0.1);
  text-transform: uppercase;
}
.navbar .nav-link.active {
  font-size: 30px;
  color: #fff;
}

body.home {
  background-color: #d6eeea;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  line-height: 1.8em;
}

ul.row.carousel-indicators {
  list-style: none;
  padding: 0;
  margin-left: 0px;
  margin-right: 0px;
  position: relative;
  right: auto;
  bottom: auto;
  left: auto;
  justify-content: inherit;
  margin-bottom: 0px;

}
.carousel-indicators li {
  flex: inherit;
  width: 100%;
  height: 100%;
  margin-left: 0;
  margin-right: 0;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-indent: initial;
  background-color: initial;
}
.carousel-indicators .active {
  background-color: initial;
}
.mbStepContentBase {
  position: absolute;
  left: 0;
  padding: 20px;
  background-color: rgba(255,255,255, 0.9);
  z-index: 1;
  border-bottom-right-radius: 20px;
  max-width: 300px;
  text-align: left;
}

@mixin circle($size: 100px) {
 width: $size;
 height: $size;
 position: relative;

 -webkit-border-radius: $size / 2 + 0px;
 -moz-border-radius: $size / 2 + 0px;
 border-radius: $size / 2 + 0px;

}

.mbSteps .mbStepSingle .text-circle {
  @include circle(30px);
  background: #cecdcf;
  font-size: 20px;
  display: inline-block;
  position: relative;
  z-index: 1;
}
.mbSteps .mbStepSingle:before, .mbSteps .mbStepSingle:after {
  position: absolute;
  content: '';
  height: 8px;
  background: #edeff0;
  margin: 0;
  background: #cecdcf;
  position: absolute;
  left: 50%;
  width: 50%;
  top: 15px;
  transform: translate(0%, -50%);
}
.mbSteps .mbStepSingle:before {
  transform: translate(-100%, -50%);
}
.mbSteps .mbStepSingle.active .text-circle,
.mbSteps .mbStepSingle.active:before,
.mbSteps .mbStepSingle.activeBetween .text-circle,
.mbSteps .mbStepSingle.activeBetween:before,
.mbSteps .mbStepSingle.activeBetween:after,
.mbSteps .mbStepSingle.progress-active .text-circle,
.mbSteps .mbStepSingle.progress-active:before,
.mbSteps .mbStepSingle.progress-active:after {
  background-color: #83C5B9;
}


.mbSteps .mbStepSingle a {
  padding: 5px 10px;
  text-align: center;
  background-color: #cecdcf;
  display: inline-block;
  min-width: 100px;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
}
.mbSteps .mbStepSingle.active a {
  background-color: #83C5B9;
}
.bg-mb-occ {
  background-color: #DDDAC0;
}
.bg-mb-hb {
  background: #CAE2F4
}

.social-container, .social-news-container {
  background: #326273; /* Old browsers */
  background: -moz-linear-gradient(top, #326273 0%, #193a55 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #326273 0%,#193a55 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #326273 0%,#193a55 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#326273', endColorstr='#193a55',GradientType=0 ); /* IE6-9 */
}

.social-container .card {
  border-radius: 20px;
  overflow: hidden;
  border: 0px;
  // max-width: 255px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.37);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.37);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.37);
}
.clear {
  clear: both;
}
.grid-item { width: 33.333333%;padding: 15px; }
.grid-sizer, .gutter-sizer { width: 0%; }
.social-container .card .card-img-top {
  background-color: #fff;
}
.social-container .card div.card-img-top {
  background-position: center;
  background-size: cover;
}
.social-container .card .card-img-top img {
  visibility: hidden;
}
.social-container .twitter {
  background-color: #48AAE6;
  color: #fff;
}
.social-container .facebook {
  // background-color: #4267b2;
  // color: #fff;
}
.social-container .instagram {
  // background-color: #003569;
  // color: #fff;
}
.social-container .card .social-icon {
  text-align: right;
  padding: 5px 10px;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
  margin-top: -33px;
  color: #333;
  position: absolute;
  right: 0;
  bottom: 0;
}
.social-container .card .social-icon img {
  max-width: 20px;
}
.social-container .card-deck {
  margin-left: 0;
}


/*
* Social Media NEws
*/
.social-news-container {
  // height: 90vh;
  overflow: hidden;
}
.social-news-container-inner {
  background-color: #f5f0f0;
  padding: 20px;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.38);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.38);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.38);
}

/*
* Kampagnen
*/
.kampagnen-container {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.38);
  -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.38);
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.38);
}
.kampagnen-container .first-row {
  height: 30vh;
}
.kampagnen-container .second-row {
  height: 46vh;
}
.kampagnen-container img {
  height: 100%;
  width: 100%;
}
.mb-step-content-container {
  // height: 78vh;
}
